<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:7px 10px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:7px 10px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-s6z2{text-align:center}
.tg .tg-z2zr{background-color:#FCFBE3}
.tg .tg-lyaj{background-color:#FCFBE3;text-align:center}
</style>